<footer class="py-10">
  <div class="flex flex-col text-center">
    <a href="https://github.com/joelpaulkoch/schildpad">
      <div class="flex flex-row justify-center">
        <img
          class="h-5 w-5 dark:hidden"
          alt="GitHub"
          src="/img/github-mark.svg"
        />
        <img
          class="hidden h-5 w-5 dark:block"
          alt="GitHub"
          src="/img/github-mark-white.svg"
        />
        <p class="pl-2 text-center hover:underline">Contribute</p>
      </div>
    </a>
    <a class="hover:underline" href="/privacy" rel="noopener noreferrer"
      >Privacy</a
    >
    <p>&copy; 2023 Joel Koch</p>
  </div>
</footer>
